{% extends "base.html" %}
{% block content %}
<h3>Goals</h3>

<ul>
<li>An easy-to-use Timesheet entry system for employees, including the ability to allot hours spent on a project to a particular Grant Award and Grant Award Task/Service Area.</li> 
<li>A back-end that makes it easy for managers to set up and maintain standard allocations, monitor employee hours, approve timesheets, etc.</li> 
<li>Make a platform that is suited to the State of Rhode Island's needs, but easily adaptable to other states, municipalities, organizations, etc.</li>
</ul>
{% endblock content %}