{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form class="usa-form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <fieldset>
    <legend class="usa-drop_text">{% blocktrans %}Sign in</legend>
    <span>or <a href="{{ signup_url }}">create an account</a></span>
    {% endblocktrans %}

    <label for="sign-in-username">{% trans 'Username or email address' %}</label>
    <input id="sign-in-username" name="username" type="text" autocapitalize="off" autocorrect="off">

    <label for="sign-in-password">{% trans 'Password' %}</label>
    <input id="sign-in-password" name="password" type="password">
    <p class="usa-form-note">
      <a title="Show password" href="javascript:void(0);"
          class="usa-show_password"
          aria-controls="sign-in-password">
        {% trans 'Show password' %}</a>
    </p>

    <input type="submit" value="{% trans 'Sign In' %}">

    <p><a href="{% url 'account_reset_password' %}" title="{% trans 'Forgot password?' %}">
      {% trans 'Forgot password?' %}</a></p>

  </fieldset>
</form>

{% endblock %}

