<li>
                        <button class="
            usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
              <span>Section title</span>
            </button>
                        <ul id="side-nav-1" class="usa-nav-submenu">
                            <li>
                                <a href="#">Page title</a>
                            </li>
                            <li>
                                <a href="#">Page title</a>
                            </li>
                            <li>
                                <a href="#">Page title</a>
                            </li>
                        </ul>
                    </li>