<h6>Primary buttons</h6>
<div class="button_wrapper">





<button class="usa-button">Default</button>
<button class="usa-button usa-button-hover">Hover</button>
  <button class="usa-button usa-button-active">Active</button>
  <button class="usa-button usa-focus">Focus</button>
  <button class="usa-button" disabled>Disabled</button>
  <button class="usa-button-disabled" disabled>Disabled (deprecated)</button>



<style scoped>
  .dark-bg {
    background-color: #212121;
  }
</style>


</div>

<h6>Secondary buttons</h6>
<div class="button_wrapper">





<button class="usa-button-secondary">Default</button>
<button class="usa-button-secondary usa-button-hover">Hover</button>
  <button class="usa-button-secondary usa-button-active">Active</button>
  <button class="usa-button-secondary usa-focus">Focus</button>
  <button class="usa-button-secondary" disabled>Disabled</button>
  <button class="usa-button-secondary-disabled" disabled>Disabled (deprecated)</button>



<style scoped>
  .dark-bg {
    background-color: #212121;
  }
</style>


</div>

<h6>Buttons on a dark background</h6>
<div class="button_wrapper">




  <div class="dark-bg">

<button class="usa-button-secondary-inverse">Default</button>
<button class="usa-button-secondary-inverse usa-button-hover">Hover</button>
  <button class="usa-button-secondary-inverse usa-button-active">Active</button>
  <button class="usa-button-secondary-inverse usa-focus">Focus</button>
  <button class="usa-button-secondary-inverse" disabled>Disabled</button>
  <button class="usa-button-secondary-inverse-disabled" disabled>Disabled (deprecated)</button>


</div>

<style scoped>
  .dark-bg {
    background-color: #212121;
  }
</style>


</div>

<h6>Big button</h6>
<div class="button_wrapper">





<button class="usa-button-big">Default</button>




<style scoped>
  .dark-bg {
    background-color: #212121;
  }
</style>


</div>